body {
  background-color: purple;
}

header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 56px;
  color: var(--primary-color);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 48px;
  text-shadow: none;
}
header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 36px;
}

section div {
  display: flex;
  flex-wrap: wrap;
}

article h3 {
  font-size: 24px;
  max-width: 25%;
}

div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 1.55vw;
}

article {
  flex-wrap: wrap;
}

article img {
  flex: 1 50%;
  width: 25%;
  max-width: 40%;
}

article img:hover {
  box-shadow: 5px 10px palevioletred;
  opacity: 50%;
}

#authorPhoto {
  width: 500px;
  max-width: 20%;
  min-width: 300px;
}

p {
  flex: 50%;
  max-width: 40%;
  font-size: 18px;
}

#run-buddy h3 {
  max-width: 50%;
}

#run-buddy-image {
  width: 70%;
  max-width: 1000px;
}

footer h2 {
  font-size: 20px;
}

@media screen and (max-width: 575px) {
  header h1 {
    font-size: 5vw;
  }

  #authorPhoto {
    width: 70%;
    max-width: 70%;
    min-width: 70%;
  }

  header nav ul li a {
    font-size: 4vw;
  }

  h2 {
    font-size: 4vw;
  }

  h3 {
    font-size: 3vw;
  }
}
