/*General Style Rules*/

body {
  background-color: purple;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  background-image: url("../images/hero-bg.png");
  z-index: 9999;
  width: 95%;
  min-width: 95%;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 56px;
  color: beige;
  font-size: 7vw;
  text-shadow: 0 0 4px blanchedalmond;
}

header h1:hover {
  text-shadow: 0 0 7px beige;
}

header a {
  text-decoration: none;
  color: bisque;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 1vw 5vw;
  font-weight: lighter;
  font-size: 5vw;
  text-shadow: none;
}
header nav ul li a:hover {
  color: cyan;
  border-radius: 15px;
  text-shadow: 0 0 10px beige;
}

h2 {
  font-size: 36px;
}

section {
  padding: 30px;
  border: 5px double rgba(137, 43, 226, 0.527);
  border-style: ridge;
  width: 95%;
  margin: 10px;
}

section h2 {
  width: 100%;
  color: cyan;
  text-shadow: 0 0 10px beige;
  background-color: rgba(137, 43, 226, 0.589);
}

h2 {
  border-bottom: 2px solid rgba(255, 228, 196, 0.493);
  font-size: 5vw;
  width: 100%;
}

h3 {
  font-size: 2vmin;
}

p {
  flex: 50%;
  font-size: 3vw;
}

article {
  flex: 1;
}

article a img:hover {
  box-shadow: 5px 10px palevioletred;
  opacity: 50%;
}

article h3 {
  font-size: 24px;
  color: rgba(0, 255, 0, 0.575);
  text-shadow: 0 0 10px blueviolet;
  background-color: rgba(74, 4, 88, 0.541);
}

/*About the Author Style Rules*/

#aboutTheAuthor {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#aboutTheAuthor {
  color: bisque;
  text-shadow: 0 0 10px violet;
}

#aboutTheAuthor div {
  display: flex;
  justify-content: center;
}

#aboutTheAuthor article {
  flex: 2;
  min-width: 40%;
}

#aboutTheAuthor h2 {
  background-image: url("../images/bio.png");
  color: cyan;
}

#authorPhoto {
  flex: 1;
  max-width: 500px;
  max-height: 667px;
  border: 3px solid palevioletred;
}

/*Projects Style Rules*/

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#projects h2 {
  background-image: url("../images/projects.png");
}

#projects div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}

#projects div article h3 {
  width: 100%;
}

#projects div article a img {
  width: 100%;
  border: 4px solid slateblue;
}

/*Contact Info Style Rules*/

#contactInfo {
  background-image: url("../images/contactInfo.png");
  opacity: 0.9;
}

#contactInfo {
  min-width: 95%;
}

#contactInfo div h3 {
  font-size: 24px;
  font-weight: bold;
  color: cyan;
  text-shadow: 0 0 10px black;
}

#contactInfo div p {
  font-size: 20px;
  color: antiquewhite;
  text-shadow: 0 0 10px black;
}

#contactInfo div p span {
  font-size: 18px;
  font-weight: bold;
  color: blanchedalmond;
}

/*Run Buddy Style Rules*/

#run-buddy {
  width: 65%;
  flex: 2;
}

/*Horiseon and Chili Wagon Comics Style Rules*/

#horiseon-chiliwagoncomics {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#horiseon-chiliwagoncomics article {
  min-width: 100%;
}

#horiseon-chiliwagoncomics article h3 {
  max-width: 100%;
  font-size: 2.5vmin;
}

#horiseon-chiliwagoncomics article a {
  max-width: 100%;
}

#horiseon-chiliwagoncomics article a img {
  max-width: 100%;
}

/*Footer Style Rules*/

footer {
  width: 100%;
}

footer h2 {
  font-size: 20px;
  width: 100%;
}

/*Media Rules*/

@media screen and (min-width: 2400px) {
  section {
    max-width: 45%;
    padding: 30px;
  }

  header h1 {
    font-size: 136px;
  }

  header nav ul li a {
    font-size: 90px;
  }

  #aboutTheAuthor article p {
    font-size: 80px;
  }

  #aboutTheAuthor {
    max-width: 50%;
  }

  #projects {
    max-width: 40%;
  }

  #projects div article h3 {
    font-size: 1vw;
  }
}

@media screen and (min-width: 1000px) {
  #aboutTheAuthor article p {
    font-size: 60px;
  }

  #projects div article h3 {
    font-size: 1.5vw;
  }


@media screen and (max-width: 1000px) {
  #projects div article h3 {
    font-size: 2vw;
  }
  
  #aboutTheAuthor article p {
    font-size: 60px;
  }
  
  #run-buddy {
    min-width: 100%;
  }

  #horiseon-chiliwagoncomics {
    min-width: 100%;
  }

  #horiseon-chiliwagoncomics article {
    min-width: 45%;
  }

  #horiseon-chiliwagoncomics article h3 {
    min-width: 100%;
  }

  #horiseon-chiliwagoncomics article a {
    min-width: 100%;
  }

  #horiseon-chiliwagoncomics article a img {
    min-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 36px;
  }

  header nav ul li a {
    font-size: 30px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 2vw;
  }

  #authorPhoto {
    width: 90%;
  }

  #projects div article h3 {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 575px) {
  #aboutTheAuthor article p {
    font-size: 16px;
  }
}
